<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Styles/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
</head>
<body>
<img src="Images\текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="skills">
    <div class="skills_title">Выберите навык для изучения</div>
    <div class="choose_skills">
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
        <button class="choose_skills_item">Пайка плат</button>
    </div>
</div>
</body>
</html>