<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body onload="directToProgress()">
<img src="Images\текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="courses_list">
<!--    <div class="tabs">-->
<!--        <button class="tab" disabled>В процессе</button>-->
<!--        <button class="tab">Пройдено</button>-->
<!--        <button class="tab">Закладки</button>-->
<!--    </div>-->
    <div class="card_list">
        <div class="card_slot">
            <div class="card_item">
                <div class="top">
                    <div></div>
                    <div class="text_stroke" id="card_title">
                        3D
                        моделирование
                    </div>
                    <div class="text_stroke" id="skills_number">4</div>
                </div>
                <div class="bottom_card">
                    <div class="schedule_items">
                        <div class="schedule_item">
                            <div class="schedule_item_time text_stroke">14:00-16:00</div>
                            <div class="schedule_item_day text_stroke">ПН</div>
                        </div>
                    </div>
                    <div id="card_description">
                        Любите рисование? Игры? Современные фильмы? Тогда это то, что вам нужно!
                    </div>
                    <div class="bottom_items">
                        <div class="text_stroke" id="difficulty">0</div>
                        <div class="text_stroke" id="address">Ничтожная 1А</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="card_slot_texture"></div>
        </div>
        <div class="card_slot">
            <div class="card_slot_texture"></div>
        </div>
        <div class="card_slot">
            <div class="card_slot_texture"></div>
        </div>
        <div class="card_slot">
            <div class="card_slot_texture"></div>
        </div>
    </div>
</div>
</body>
</html>