@using Case_Deti.Models
@Model UserModel
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
</head>
<body>
    <img src="~/Images/текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
    <div class="profile">
        <div class="user_profile">
            <div class="info">
                <div id="lvl">
                    13
                </div>
                <div id="user_name">
                    @Model.Name
                </div>
            </div>
            <div class="user_image"></div>
            <div class="latest_achievements_title">
                Последние Достижения
            </div>
            <div class="latest_achievements">
                <div class="achievement">
                    <div class="achievement_icon">
                        <img src="~/Images/kot.png" width="80%" height="80%">
                    </div>
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                </div>
                <div class="achievement">
                    <div class="achievement_icon">
                        <img src="~/Images/kot.png" width="80%" height="80%">
                    </div>
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <button class="menu_button">Мои навыки</button>
            <button class="menu_button">Достижения</button>
            <button class="menu_button">Мой вектор</button>
            <button class="menu_button">Успеваемость</button>
        </div>
        <div class="achievement_list">
            <button class="menu_back">
                <img src="~/Images/back-arrow.png" width="75%" height="75%" id="arrow_color">
            </button>
            <div class="achievement">
                <div class="achievement_icon">
                    <img src="~/Images/kot.png" width="80%" height="80%">
                </div>
                <div class="achievement_text">
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                    <div class="achievement_description">
                        Выполнить задание для проекта
                    </div>
                </div>
            </div>
            <div class="achievement">
                <div class="achievement_icon">
                    <img src="~/Images/kot.png" width="80%" height="80%">
                </div>
                <div class="achievement_text">
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                    <div class="achievement_description">
                        Выполнить задание для проекта
                    </div>
                </div>
            </div>
            <div class="achievement">
                <div class="achievement_icon">
                    <img src="~/Images/kot.png" width="80%" height="80%">
                </div>
                <div class="achievement_text">
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                    <div class="achievement_description">
                        Выполнить задание для проекта
                    </div>
                </div>
            </div>
            <div class="achievement">
                <div class="achievement_icon">
                    <img src="~/Images/kot.png" width="80%" height="80%">
                </div>
                <div class="achievement_text">
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                    <div class="achievement_description">
                        Выполнить задание для проекта
                    </div>
                </div>
            </div>
            <div class="achievement">
                <div class="achievement_icon">
                    <img src="~/Images/kot.png" width="80%" height="80%">
                </div>
                <div class="achievement_text">
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                    <div class="achievement_description">
                        Выполнить задание для проекта
                    </div>
                </div>
            </div>
        </div>
        <div class="skills_list">
            <button class="menu_back">
                <img src="~/Images/back-arrow.png" width="75%" height="75%" id="arrow_color">
            </button>
            <div class="skill_item">Совсем никак в голове</div>
            <div class="skill_item">Совсем никак в голове</div>
            <div class="skill_item">Совсем никак в голове</div>
            <div class="skill_item">Совсем никак в голове</div>
            <div class="skill_item">Совсем никак в голове</div>
        </div>
    </div>
</body>
</html>