@model RegisterModel 

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="~/js/signscript.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body onload="startDirecting()">
<img src="~/Images/текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="sign_in_up">
    <div class="sign_in">
        <div class="tab_buttons">
            <button  class="sign_button" onclick="UpdateReg()">РЕГИСТРАЦИЯ</button>
            <button  class="sign_button" disabled>ВХОД</button>
        </div>
        <div class="input_fields">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <form asp-action="Login" asp-controller="User" asp-anti-forgery="true">
                <div class="field">
                    Логин <input class="enter_area"></input>
                </div>
                <div class="field">
                    Пароль <input class="enter_area" type="password"></input>
                </div>
                <button class="login_button" type="submit">Вход</button>
            </form>
        </div>
    </div>
    <div class="sign_up">
        <div class="tab_buttons">
            <button class="sign_button" disabled>РЕГИСТРАЦИЯ</button>
            <button class="sign_button" type="submit">ВХОД</button>
        </div>
        <div class="input_fields">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <form asp-action="Register" asp-controller="User" asp-anti-forgery="true">
                <div class="field">
                   ФИО <input class="enter_area"></input>
                </div>
                <div class="two_fields">
                   <div class="field">
                       Возраст <input class="enter_area"></input>
                   </div>
                   <div class="field">
                       Пол <input class="enter_area"></input>
                    </div>
                </div>
                <div class="field">
                    Логин <input class="enter_area"></input>
                </div>
                <div class="field">
                    Пароль <input class="enter_area" type="password"></input>
                </div>
                <button class="login_button" type="submit">Регистрация</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>