<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body onload="progressLoad()">
<img src="~/Images/текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="progress">
    <div id="progress_title">
        Теория паразитирования
    </div>
    <div class="progress_map">
        <div id="rectangle">
        </div>
        <div id="line">
        </div>
        <div id="map_circle">
            <div id="progress_start">
                <div id="first_circle">
                    <div id="second_circle">
                        <div id="start_text">
                            СТАРТ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lessons">
    </div>
    <div id="lesson_title">
        Урок 2: "Теория Платона: Возможность создания ёжика из кважратных арбузов"
    </div>
    <button class="back_to_profile" href="/../../User/Index" onclick="redirectPage(this.href)">
        <div class="profile_nickname text_stroke">
            Сергей
        </div>
        <div class="profile_icon"></div>
    </button>
</div>
</body>
</html>