<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="~/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="Update()">
    <img src="~/Images/текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
    <div class="profession">
        <div class="user_choice">
            <div class="information">
                <div class="nickname">
                    <div id="nickname_text">
                        Никнейм
                    </div>
                </div>
            </div>
            <div class="selected_skills">
            </div>
        </div>
        <div class="decorative_line">
        </div>
        <div class="choose">
            <div class="title">
                <div class="title_line"></div>
                <div id="title_text">
                    Выбери своё будущее
                </div>
                <div class="title_line"></div>
            </div>
            <img src="~/Images/текстура пятна 17 проц.jpg" height="auto" width="auto" class="mark texture">
            <div class="carousel">
            </div>
        </div>
    </div>
</body>
</html>