<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Styles/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body onload="progressLoad()">
<img src="Images\текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="progress">
    <div id="progress_title">
        Теория паразитирования
    </div>
    <div class="progress_map">
        <div id="rectangle">
        </div>
        <div id="line">
        </div>
        <div id="map_circle">
            <div id="progress_start">
                <div id="first_circle">
                    <div id="second_circle">
                        <div id="start_text">
                            СТАРТ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lessons">
        <!-- <div class="lesson">
            <div class="peoples_number">13</div>
            <div class="scores">
                <div class="average_score">~4,3</div>
                <button class="score" disabled>5</button>
            </div>
        </div>
        <div class="lesson">
            <div class="peoples_number">13</div>
            <div class="scores">
                <div class="average_score">~4,3</div>
                <button class="score">4</button>
            </div>
        </div>
        <div class="lesson">
            <div class="peoples_number">13</div>
            <div class="scores">
                <div class="average_score">~4,3</div>
                <button class="score" id="current_place"></button>
            </div>
        </div>
        <div class="lesson">
        </div>
        <div class="lesson">
        </div> -->
    </div>
    <div id="lesson_title">
        Урок 2: "Теория Платона: Возможность создания ёжика из кважратных арбузов"
    </div>
</div>
</body>
</html>