<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Styles/Main.css">
    <meta charset="UTF-8">
    <title>ХакаЧто?</title>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
</head>
<body>
<img src="Images\текстура бумаги 17 проц.jpg" height="auto" width="auto" class="texture">
<div class="rating">
    <div class="top1">
        <div class="top1_user_profile">
            <div class="info">
                <div id="points">
                    1
                </div>
                <div id="top1_user_name">
                    Сергей
                </div>
            </div>
            <div class="user_image"></div>
            <div class="top1_latest_achievement_title">
                Последнее достижение
            </div>
            <div class="latest_achievements">
                <div class="achievement">
                    <div class="achievement_icon">
                        <img src="Images\kot.png" width="80%" height="80%">
                    </div>
                    <div class="achievement_title">
                        Сделать Бэкэнд
                    </div>
                </div>
            </div>
        </div>
        <div class="top2-10">
            <div class="top2-10_item">
                2.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">100</div></div>
            </div>
            <div class="top2-10_item">
                3.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">99</div></div>
            </div>
            <div class="top2-10_item">
                4.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">98</div></div>
            </div>
            <div class="top2-10_item">
                5.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">97</div></div>
            </div>
            <div class="top2-10_item">
                6.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">96</div></div>
            </div>
            <div class="top2-10_item">
                7.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">95</div></div>
            </div>
            <div class="top2-10_item">
                8.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">94</div></div>
            </div>
            <div class="top2-10_item">
                9.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">93</div></div>
            </div>
            <div class="top2-10_item">
                10.<div class="top2-10_item_user_name">AltF4<div class="top2-10_item_points">92</div></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>